__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env

experiments/*
!experiments/.gitkeep
demos/*
!demos/.gitkeep
scripts/*

.wandb/
wandb/

*.pt
*.pth
*.mp4
*.gif

.pytest_cache/
.mypy_cache/
.ruff_cache/
*.docx
*.md